@media (min-width : 950px)
{
    .hug
    {
        background-color: rgb(238, 130, 238);
        padding: 3%;
        width: 28%;
    }
}

@media (max-width: 949px) and (min-width: 780px)
{
    .hug
    {
        background-color: rgb(238, 130, 238);
        padding: 3%;
        width: 33%;
    }
}

@media (max-width: 779px) and (min-width: 580px)
{
    .hug
    {
        background-color: rgb(238, 130, 238);
        padding: 3%;
        width: 42%;
    }
}

@media (max-width: 579px)
{
    .hug
    {
        background-color: rgb(238, 130, 238);
        padding: 3%;
        width: 50%;
    }
}