table
{
	font-family: Georgia, 'Times New Roman', Times,serif;
	margin-left: 200px;
	width: 750px;
	border: 120px;
	font-size: 20px;
	font-weight: medium;
}

th
{
	background-color: rgba(0,0,256,0.5);
	height: 40px;
	font-color: (255,255,255,1);
	border: 10px;
}

tr:nth-child(2)
{
    border: 5px;
	height: 30px;
}

tr:nth-child(3)
{
    background-color: rgba(0,0,0,.1);
	border: 5px;
	height: 30px; 
}

tr:nth-child(4)
{
	border: 5px;
	height: 30px;
}

tr:nth-child(5)
{
    background-color: rgba(0,0,0,.1);
	border: 5px;
	height: 30px;
}

tr:nth-child(6)
{
	border: 5px;
	height: 30px;
}

tr:nth-child(7)
{
    background-color: rgba(0,0,0,.1);
	border: 5px;
	height: 30px;
}

tr:nth-child(8)
{
	border: 5px;
	height: 30px;
}

/*tr:nth-child(9)
{
	background-color: rgba(0,0,255,.6);
	border: 5px;
	height: 30px;
}

tr:nth-child(10)
{
	background-color: rgba(0,0,255,.6);
	border: 5px;
	height: 30px;
}

tr:nth-child(11)
{
	background-color: rgba(0,0,255,.6);
	border: 5px;
	height: 30px;
}

tr:nth-child(12)
{
	background-color: rgba(0,0,255,.6);
	border: 5px;
	height: 30px;
}*/